<% include header %>
<div class="container mainContent">
    <div class="col-md-9">
        <% posts.forEach(function(post, index){ %>
        <div class="namePanel"><a href='/u/<%= post.name %>'><%= post.name %></a></div>
        <div class="topicBox">
            <a href="/u/<%= post.name %>/<%= post.time %>/<%= post.title %>"><%= post.title %></a>
        </div>
        <p class="info">

            <span> 时间：<%= post.time %></span>
            <span>阅读：<%= post.pv %></span>
            <span class="toReply"><i class="fa fa-commenting"></i>评论：<%= post.comments.length %></span>
            <textarea type="text" class="form-control reply"></textarea>
            <% post.comments.forEach(function (comment, index) { %>
            <i class="fa fa-reply">回复</i>
        <p><a href="<%= comment.website %>"><%= comment.name %></a>
            <span class="info"> 回复于 <%= comment.time %></span></p>

        <p><%- comment.content %></p>
        <% }) %>
        <hr class="hr1"/>
        <% }) %>
        </p>
        <%- include page %>
    </div>
    <div class="col-md-3">
        <ul class="list-group">

            <% topThree.forEach(function(post, index){ %>
            <li class="list-group-item">
                <span class="badge"><%= post.pv %></span>
                <a href="/u/<%= post.name %>/<%= post.time %>/<%= post.title %>"><%= post.title %></a>
            </li>
            <% }) %>
        </ul>
    </div>
</div>


<footer>
    <% include footer %>
</footer>

