<% include header %>
<div class="container mainContent">
    <div class="col-md-9">
        <% posts.forEach(function(post, index){ %>
        <span class="namePanel"><a href='/u/<%= post.name %>'><%= post.name %></a></span>
        <div class="topicBox">
            <a href="/u/<%= post.name %>/<%= post.time %>/<%= post.title %>"><%= post.title %></a>
        </div>
        <div class="info">

            <span> 时间：<%= post.time %></span>
            <span>阅读：<%= post.pv %></span>
            <span class="toReply"><i class="fa fa-commenting"></i>评论：<%= post.comments.length %></span>
       <% if(user){%>
            <div class="replyBox">
                <form method="post" class='commentForm' action="/u/comment">
                    <input type="hidden" value="<%= user.name %>" name="name"/>
                    <input type="hidden" value="<%= post.id %>" name="postId"/>

                    <textarea class="form-control reply" name="content"></textarea>
                    <i class="fa fa-reply replyTo">回复</i>
                </form>
            </div>
        <%}%>
            <%if(post.comments.length){%>
        <div class="comment-con">
            <% post.comments.forEach(function (comment, index) { %>
                <div class='msg'>
                    <p><a href="/u/<%= comment.name %>"><%= comment.name %></a>
                        <span class="info"> 回复于 <%= comment.time %></span></p>
                    <p class="comment"><%- comment.content %></p>
                </div>
            <% }) %>
         </div>
            <%}%>
         <hr class="hr1"/>

        </div>
        <% }) %>

        <%- include page %>
    </div>
    <div class="col-md-3">
        <ul class="list-group">
            <a href="#" class="list-group-item active">
                热门话题
            </a>
            <% topThree.forEach(function(post, index){ %>
            <li class="list-group-item">
                <span class="badge top<%= index %>"><%= post.pv %></span>
                <a href="/u/<%= post.name %>/<%= post.time %>/<%= post.title %>"><%= post.title %></a>
            </li>
            <% }) %>
        </ul>
    </div>
</div>


<footer>
    <% include footer %>
</footer>
