<% include header%>
<div class="container mainContent">
    <% posts.forEach(function(post,index){%>
    <div class="sub-artical">
	    <p><a href="/u/<%=post.name%>/<%=post.time%>/<%=post.title%>"><%= post.title %></a></p>
	    <p class="info">
	        发起人：<a href ='/u/<%=post.name%>'><%=post.name%></a>
	        时间：<a href=""><%=post.time%></a>
	        <div class='artical'><%-post.post %></div>
	    </div>
    <hr class='hr'/>
    <%})%>
    </p>
    
</div>


<footer> <% include footer%></footer>

